* {
    box-sizing: border-box;
}

html {
    margin: 0;
    font-size: 14px;
    font-family: sans-serif;
    background: rgb(255, 255, 255);
}

body {
    margin: 0 auto;
    padding: 10px;

    width: 290px;
    height: inherit;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input, #setting-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 20px;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.tooltip::before {
    content: "?";
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;

    width: 18px;
    height: 18px;

    border-radius: 50%;
    border: 2px solid #ccc;
}
.tooltip:hover { cursor: help; }

.head {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 10px;
}

h3 {
    margin: 0;
}

.option {
    display: flex;
    align-items: center;
    padding: 10px;

    width: 100%;
    height: 45px;
}

hr {
    margin: 0;
    border: none;
    border-top: 2px solid #e6e6e6;
}

.option .switch {
    display: flex;
    margin-left: auto;
}

.option .button {
    display: flex;
    margin-left: auto;
    padding: 6px;

    border: none;
    border-radius: 5px;
    background-color: #e6e6e6;
}

.option .button:hover {
    background-color: #d6d6d6;
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    html {
        color: white;
        background: #131313;
    }

    .slider {
        background-color: #414141;
    }

    .slider::before {
        background-color: #2e2e2e;
    }

    hr {
        border-color: #414141;
    }

    button {
        color: white;
    }

    .option .button {
        background-color: #414141;
    }

    .option .button:hover {
        background-color: #555555;
    }
}